@import url('https://fonts.googleapis.com/css?family=Felipa');

#grid-container {
    /* display: grid;     */
    display: -ms-inline-grid;
}
body {
    font-family: 'Felipa'
}
ul { 
    list-style-type: none;
    float: right;
}
li {
    display: inline;
}
header {
    background-color: blue;
    color: white;
    display: grid;
    /* grid-template-columns: 20% auto; */
    grid-template-columns: repeat(2, auto);
}
header > a, li > a {
    color: white;
    text-decoration: none;
}
#logo {
    display: inline-block;
}