@import url('https://fonts.googleapis.com/css?family=Felipa');

#grid-container {
    /* display: grid;     */
    display: -ms-inline-grid;
}
body {
    font-family: 'Felipa'
}
ul { list-style-type: none;}
header {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: 20% 80%;
}
a {
    color: white;
}